@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
}
.karla-font {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.header{
    width: 1150px;
    margin: 0 auto;
    padding: 50px;
    margin-left: 30px;
}
.nav-icon img{
    width: 70px;
}
.nav-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    padding: 50px;
    margin-left: 30px;
    height: 20px;
}
.nav-options{
    display: flex;
    gap: 45px;
    justify-content: center;
    align-items: center;
}
.nav-options p:hover{
    text-decoration: underline;
}
.btn{
    border: 1px solid green;
    border-radius: 10px;
    height: 40px;
    width: 220px;
    color: black;
}
.btn:hover{
    background: #4CAF50;
    color: aliceblue;
}
.banner{
    width: 1200px;
    margin-top: 60px;
    background: #373737;
}
.banner-content h1{
    text-align: center;
}
.banner-content p{
    text-align: center;
    color: white;
}
.banner-content, .btn1{
    text-align: center;
    color: white;
}
.hr{
    width: 100px;
}
.banner-content{
    padding:15px;
}
.btn1{
    background: #1B68FB;
    padding: 15px;
    width: 350px;
    border: 2px solid #1B68FB ;
    font-size: 1.3rem;
    color: white;
    border-radius: 10px;
}
.hr-pre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pre{
    font-size: 16px;
}
.hr1{
    width: 0px;
    height: 70px;
}
.big-mistake{
    width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
}
.big-mistake h1{
    font-size: 3rem;
    text-align: center;
}
.card1{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(93, 90, 90, 0.699);
    border-radius: 5px;
    width: 40%;
}
.card1 h5{
    text-align: center;
}
.card1 h3{
    text-align: center;
}
.card2 h5{
    text-align: center;
}
.card2 h3{
    text-align: center;
}
.card1 h6{
    text-align: center;
}
.card2 h6{
    text-align: center;
}
.card2 p{
    text-align: left;
    padding: 10px;
}
.card1 p{
    text-align: left;
    padding: 10px;
}
.card2{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(93, 90, 90, 0.699);
    border-radius: 5px;
    width: 40%;
}
.cards{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}
.trusted-universities{
    width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
    background: #175169;
    padding: 50px;
}
.trusted-universities h1{
font-size: 2rem;
color: white;
text-align: center;
}
trusted-universities-content{
    display: flex;
gap: 100px;
}
.trusted-universities-content1{
    display: flex;
    gap: 60px;
    justify-content: space-around;
    align-items: center;
}
.trusted-universities-content2{
    display: flex;
    gap: 60px;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.trusted-universities-content2 img{
    width: 150px;
    height: 90px;
}
.trusted-universities-content1 img{
    width: 150px;
    height: 90px;
}
.trusted-universities-content2 .yale{
    width: 200px;
    height: 200px;
}
.How-It-Works{
    width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
}
.How-It-Works h1{
    font-size: 3rem;
}
.How-It-Works h4{
    font-size: 1rem;
}
.Our-Students{
    width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
    background: #175169;
    padding: 10px;
}
.Our-Students{
    text-align: center;
    color: white;
}
.cards2{
    border: 2px solid white;
    background: white;
    color: black;
    padding: 20px;
    width: 500px;
}
.cards3{
    border: 2px solid white;
    background: white;
    color: black;
    padding: 20px;
    width: 500px;
    height: 200px;
}
.cards4{
    border: 2px solid white;
    background: white;
    color: black;
    padding: 20px;
    width: 500px;
    height: 200px;
}
.cards5{
    border: 2px solid white;
    background: white;
    color: black;
    padding: 20px;
    width: 500px;
    height: 200px;
}
.Our-Students-cards1{
    display: flex;
    gap: 50px;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
}
.Our-Students-cards2{
    display: flex;
    gap: 50px;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
}
.Our-Students-cards3{
    display: flex;
    gap: 50px;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
}
.Our-Students-cards{
    width: 100%;
}
.btn2{
    background: #1B68FB;
    padding: 15px;
    width: 450px;
    border: 2px solid #1B68FB ;
    font-size: 1.3rem;
    color: white;
    border-radius: 10px;
    height: 50px;
    margin: 0 auto;
}
.arabic-online-card1{
    border: 1px solid gainsboro;
    padding: 15px;
    text-align: center;
}
.arabic-online-card2{
    border: 1px solid gainsboro;
    padding: 15px;
    text-align: center;
}
.arabic-online-cards1{
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}
.arabic-online-cards2{
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.arabic-online{
    width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 10px; 
}
.arabic-online h1{
    text-align: center;
    font-size: 2rem;
}
.footer-content1{
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}
.hr3{
    width: 0px;
    height: 15px;
}
.pan{
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    align-items: center;
    margin-left: 400px;
}
.footer-content2{
    text-align: center;
}
.footer{
    width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 10px; 
    background: #095400;
}
.footer-content1-div p, h4{
    color: white;
}
.footer-content2-div p{
    color: white;
}
.footer-content3-div p{
    color: white;
}
.footer-content4-div p{
    color: white;
}
.footer-content4-div img{
    width: 50%;
}
.footer-content2 p{
    color: white;
}
.footer-content2 img{
    width: 20%;
}